* {
  font-family: 'Cousine', monospace;
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}
.institution {
  margin-bottom: 20px;
}
.account {
  margin-bottom: 20px;
}
.transactions .main-category {
  margin-bottom: 50px;
  padding: 20px;
}
.transaction {
  display: flex;
  margin-bottom: 10px;
}
.transaction .amount {
  margin-left: auto;
  margin-right: 0;
}
